@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700i|Source+Sans+Pro&display=swap");

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}

/* App */
.app_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

/* MovieContainer */
.movie_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 50px;
    color: white;
    margin: 50px 0px 0px 0px;
    /* border: 1px solid orange; */
}

.container {
    margin: 50px 0px 0px 0px;
}

.cardDiv {
    display: flex;
    flex-direction: row;
}

.nominationsBar {
    width: 250px;
}

/* SearchBar */
.searchBar {
    width: 50%;
    margin: 50px 0px 0px 0px;
}

/* MoviePanel */
.card {
    height: 490px;
    margin-bottom: 15px;
}

.cardTitle {
    text-align: center;
}

.movie_panel_button:before {
    content: '√';
}

.movie_panel_button {
    height: 35px;
    width: 35px;
    color: white;
    font-weight: bold;
    background-color: #73D080;
    border: 2px solid #4f8f58;
}

.movie_panel_button:hover {
    background-color: #4f8f58;
    border: 2px solid #73D080;
}

.button_toggle {
    color: white;
    background-color: #DB3D44;
    border: 2px solid #d1151b;
}

.button_toggle:hover {
    color: white;
    background-color: #d1151b;
    border: 2px solid #DB3D44;
}

.button_toggle:before {
    content: none;
}

.button_toggle:after {
    content: 'X';
}

.inactive {
    pointer-events: none;
}

/* NominationsBar */
.side_nav_title {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.side_nav {
    width: 250px;
    margin-top: 264px;
    border-radius: 5px;
}

.nomineescontainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nominee_box {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: #DB3D44;
    align-items: center;
}

